[Unit]
Description=OpenCMAS service 

[Service]
User=root
RemainAfterExit=yes
WorkingDirectory=/opt/opencmas/backend/daemon
ExecStart=/bin/bash /opt/opencmas/backend/daemon/main.sh

[Install]
WantedBy=multi-user.target


