[Unit]
Description=OpenCMAS service 

[Service]
User=root
RemainAfterExit=yes
WorkingDirectory=/home/stefan/opencmas5/opencmas/backend/daemon/
ExecStart=/bin/bash /home/stefan/opencmas5/opencmas/backend/daemon/main.sh

[Install]
WantedBy=multi-user.target


